// Components

// Horizontal and vertical line components
.h-line {
    height: 2px;
    width: 100%;
    background-color: $color-cta;
    margin: 28px 0;
}

.v-line {
    width: 2px;
    height: 100%;
    background-color: $color-cta;
}

// Buttons
.cta-btn, .cta-btn-outline {
    font-weight: 600 !important;
    padding: 16px 24px 16px 24px !important;
}

.cta-btn-outline a {
    color: $color-cta;
}

.cta-btn-outline:hover a {
    color: black;
}

.cta-btn {
    color: white;
}

// Navbar
.navbar {
    background-color: $color-dark-bg !important;
    border-bottom: 0.8px solid #DADADA;
    position: fixed;
    width: 100%;
    z-index: 12;
    height: 90px !important;

    .navbar-nav {
        a {
            font-weight: 400;
            color: $color-d5;
        }

        a:hover, a:focus {
            color: $color-cta;
        }

        a.active {
            font-weight: 600;
            text-decoration: underline !important;
            color: $color-cta;
        }
    }

    .cta-btn-outline {

        a {
            color: white;
        }

        a:hover, a:focus {
            color: unset;
        }
    }

    .cta-btn-outline:hover {
        border-color: $color-cta !important;

        a {
            color: black;
        }
    }

    .dropdown-toggle {
        outline: none;
        background: none;
        border: none;
    }

    .dropdown-toggle::after {
        display: none !important;
    }

    .dropdown {
        display: contents !important;
    }

    .dropdown-menu {
        min-width: 100%;
        background: transparent;
        padding: 0;
        border: none;
        margin: 1px 0 0;

        .navbar-options-content {
            background-color: $color-dark-bg;

            .navbar-options-col {
                h2 {
                    transition: color 0.3s ease;
                    font-size: 2.25rem;
                    font-weight: 600;
                    color: white;
                    margin-bottom: 3rem;
                }

                h2:hover, h2:focus {
                    transition: color 0.3s ease;
                    color: $color-cta;
                }
            }
        }
    }


}

// Social media icons component
.social-media-icons .icon-container {
    justify-content: space-evenly;
    height: 70px;
    width: 210px;
    background-color: $color-dark-bg;

    svg {
        fill: white;
    }
}

.social-media-icons .icon-container a:hover svg {
    transition: fill 0.3s ease;
    fill: $color-cta
}

// Tile component
.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 0;
    border: none;

    h4 {
        font-size: 1.4rem;
    }

    h5 {
        color: $color-d2
    }

    p {
        color: $color-d3;
    }

    a:hover {
        text-decoration: underline;
    }
}

.small-tile {
    background-color: white;
    width: 275px;
    height: 275px;
    box-shadow: 0 25px 75px $color-d6;
    margin: 2px;
}

.large-tile {
    transition: all 0.3s ease;
    width: 400px !important;
    height: 400px !important;
}

.tile-shadow:hover {
    background-color: white;
    box-shadow: 0 25px 75px $color-d6;
}

// Banner over image component
.banner-over-image {
    padding-left: 12px;
    padding-right: 12px;

    .image {
        height: 650px;

        img {
            object-fit: cover;
            width: 900px;
        }

        img.float-start {
            object-position: left;
        }

        img.float-end {
            object-position: right;
        }
    }

    .banner-wrapper {
        position: absolute;
        width: 1296px !important;
    }

    .banner {
        background-color: $color-dark-bg;
        height: 510px;
        width: 540px;

        .banner-content {
            padding: 56px 40px 56px 68px;
        }

        .h-line {
            width: 40%;
            margin-top: 16px;
        }
    }
}

// Sections
.section-title {
    font-size: 3.5rem;
    line-height: 1.2;
}

.section-subtitle {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.2rem;
    line-height: 1.6;
}

.hero-common-1 {
    background-color: $color-dark-bg;
    height: 100vh !important;
    z-index: 5;

    .row {
        height: 100%;
    }

    .hero-content {

        .hero-title {
            text-transform: capitalize;
            font-size: 4rem;

            span {
                display: inline-block;
                color: $color-cta;
                line-height: 1;
                border-bottom: 3px solid $color-cta;
            }
        }

        .hero-text {
            color: $color-d6;
            font-size: 1.12rem;
            line-height: 1.7;
        }

        .hero-subtitle {
            font-size: 1.2rem;
            line-height: 1.6;
        }

        .hero-button {
            z-index: 10;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: 600;
            height: 68px;
        }
    }
}

.hero-common-2 {
    background-color: $color-dark-bg;
    padding-top: 80px;
    min-height: unset !important;
    margin: auto;
    height: fit-content !important;

    .breadcrumbs {
        color: $color-d3;
    }

    .row {
        height: 100%;
    }

    .hero-content {
        h6.breadcrumbs {
            color: $color-d3;
        }

        .hero-title {
            text-transform: capitalize;
            font-size: 4rem;

            span {
                display: inline-block;
                color: $color-cta;
                line-height: 1;
                border-bottom: 3px solid $color-cta;
            }
        }

        .arrow-wrapper {
            margin-top: -40px !important;
        }

        .hero-text {
            color: $color-d6;
            font-size: 1.12rem;
            line-height: 1.7;
        }

        .hero-button {
            z-index: 10;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: 600;
            height: 68px;
        }
    }

    .hero-right {
        .image-wrapper {
            width: 100%;
            height: 100%;

            img {
                object-fit: cover;
            }
        }
    }

    .h-line {
        width: 220px;
    }

    .v-line {
        margin-left: -28px;
        height: 220px;
    }
}

.v-line-wrapper {
    height: 740px;
    display: flex;
    justify-content: flex-end;

    .v-line {
        margin-top: auto;
        height: 200px;
    }
}

.v-line-left {
    margin-left: -24px;
}

.v-line-right {
    margin-left: 48px;
}

.service-card {
    transition: all 0.3s ease;
    width: 100%;
    padding: 0;
    border-radius: 0;
    border: none;
    box-shadow: 0 18px 36px $color-d6;
    height: 740px;

    .window {
        height: 260px;
    }

    .card-img-top {
        object-fit: cover;
        border-radius: 0;


        img {
            border-radius: 0;
        }
    }

    .title {
        font-size: 2.5rem;
    }

    .text {
        font-weight: 400;
        color: $color-d3;
    }

    ol {
        li {
            font-weight: 500;
            color: $color-d3;

            &:not(:last-child) {
                margin-bottom: 0.7rem;
            }

            &::marker {
                font-weight: 600;
                color: $color-d1;
            }
        }
    }

    &:hover {
        background-color: $color-dark-bg;

        .title {
            color: $color-cta;
        }

        .text {
            color: $color-p2-shade;
        }

        ol {
            li {
                color: $color-d5;

                &::marker {
                    color: $color-cta;
                }
            }
        }
    }
}

// Footer
footer {
    background-color: $color-dark-bg;

    h3 {
        color: white;
        font-size: 2rem;
        font-weight: 700;
    }

    h5 {
        line-height: 1.5;

        span {
            display: inline-block;
            color: $color-cta;
        }
    }

    .brand-logo {
    }

    .brand-tagline {
        color: white;
        font-size: 1.1rem;
    }

    .social-media-icons .icon-container {
        width: 120px;
        justify-content: space-between;
    }

    .section-2-text {
        font-size: 1rem;
        color: $color-d4;
    }

    .footer-section {
        padding: 0 105px;
    }

    .section-border {
        border-right: 0.6px solid $color-red-shade;
    }

    .contact-details-wrapper {
        color: $color-d4;
    }

    .contact-icon-wrapper {
        svg {
            fill: $color-cta;
        }
    }

    .copyright-bar {
        background-color: $color-d2;
    }
}
