//@import "include-media/dist/_include-media.scss";

// Components

// Horizontal and vertical line components
.h-line {
    height: 2px;
    width: 100%;
    background-color: $color-cta;
    margin: 12px 0;

    @media (min-width: $md) {
        margin: 24px 0;
    }
}

.v-line {
    width: 2px;
    height: 100%;
    background-color: $color-cta;
}

// Buttons
.custom-btn, .custom-btn-outline {
    border-right: 0;
    font-weight: 600 !important;
    padding: 12px 18px 12px 18px;
    font-size: 0.9em;

    @media (min-width: $md) {
        padding: 16px 24px 16px 24px;
        font-size: 1em;
    }
}

.custom-btn {
    color: white;
    background-color: $color-cta;
}

.custom-btn:hover {
    color: white;
    background-color: darken($color-cta, 20%);
}

.custom-btn-outline {
    color: white;
    background-color: transparent;
    border: 1.2px solid white;
}


.custom-btn-outline:hover {
    color: white;
    background-color: $color-cta;
    border: 1.2px solid $color-cta;
}

.custom-btn span.with-spacing {
    margin-left: 12px;
}

.custom-btn.btn-lg {
    padding: 18px 26px 18px 26px;
    font-size: 1.2em;
}


// Navbar
.navbar {
    background-color: $color-dark-bg !important;
    border-bottom: 0.8px solid #DADADA;
    position: fixed;
    width: 100%;
    z-index: 12; // z-index of navbar is 12
    height: 90px !important;

    .navbar-nav {
        a {
            font-weight: 400;
            color: $color-d5;
        }

        a:hover, a:focus {
            color: $color-cta;
        }

        a.active {
            font-weight: 600;
            text-decoration: underline !important;
            color: $color-cta;
        }
    }

    .dropdown-toggle {
        outline: none;
        background: none;
        border: none;
    }

    .dropdown-toggle::after {
        display: none !important;
    }

    .dropdown {
        display: contents !important;
    }

    .dropdown-menu {
        min-width: 100%;
        background: transparent;
        padding: 0;
        border: none;
        margin: 1px 0 0;

        .navbar-options-content {
            background-color: $color-dark-bg;

            .navbar-options-col {
                a {
                    font-family: 'PT Serif', serif;
                    transition: color 0.3s ease;
                    font-size: 2rem;
                    line-height: 2.5;
                    font-weight: 700;
                    color: white;
                    //margin-bottom: 3rem;
                }

                a:hover, a:focus {
                    transition: color 0.3s ease;
                    color: $color-cta;
                }

                a.active {
                    color: $color-cta;
                    text-decoration: underline;
                }
            }
        }
    }
}

// Social media icons component
.social-media-icons .icon-container {
    justify-content: space-evenly;
    background-color: $color-dark-bg;

    a {
        color: white;
        font-size: 16px;
        margin: 6px 12px;

        @media (min-width: $md) {
            margin: 8px 16px;
            font-size: 24px;
        }
    }
}

.social-media-icons {
    margin-bottom: 4px;

    @media (min-width: $md) {
        margin-bottom: 16px;
    }
}

.social-media-icons .icon-container a:hover svg {
    transition: fill 0.3s ease;
    fill: $color-cta
}

// Tile component
.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 0;
    border: none;

    h4 {
        font-size: 1.4rem;
    }

    h5 {
        color: $color-d2
    }

    p {
        color: $color-d3;
    }

    a {
        color: $color-cta;
        text-decoration: underline;
    }

    a:hover {
        color: darken($color-cta, 20%) !important;
    }
}

.small-tile {
    background-color: white;
    //width: 275px;
    //height: 275px;
    box-shadow: 0 25px 75px $color-d6;
    margin: 2px;

    .content {
        font-size: 0.85em;

        @media (min-width: $md) {
            font-size: 1em;
        }
    }

    .title {
        font-size: 0.95em;

        @media (min-width: $md) {
            font-size: 1.1em;
        }
    }
}

.large-tile {
    transition: all 0.3s ease;
    //width: 400px !important;
    //height: 400px !important;
}

.tile-shadow:hover {
    background-color: white;
    box-shadow: 0 25px 75px $color-d6;
}

.tile-shadow {
    @media (max-width: $sm) {
        background-color: white;
        box-shadow: 0 25px 75px $color-d6;
    }
}

// Banner over image component
.banner-over-image {
    padding-left: 12px;
    padding-right: 12px;

    .image {
        width: 100%;

        img {
            object-fit: cover;
            min-height: 360px;


            width: 65%;
            height: 100%;

            @media (min-width: $md) {
                width: 65%;
            }

            @media (min-width: $md) {
                min-height: 320px;
            }

            @media (min-width: $md) {
                min-height: 560px;
            }

            @media (min-width: $lg) {
                min-height: 640px;
            }
        }

        img.float-start {
            object-position: left;
        }

        img.float-end {
            object-position: right;
        }
    }

    .mobile-full-width {
        @media (max-width: $md) {
            width: 100% !important;
        }
    }

    .banner-wrapper {
        margin-left: -1500px;
        //position: absolute;
        //width: 1296px !important;
    }

    .banner {
        width: 75%;
        background-color: $color-dark-bg;
        //height: 510px;
        //width: 540px;

        @media (min-width: $sm) {
            width: 70%;
        }

        @media (min-width: $md) {
            width: 60%;
        }

        @media (min-width: $lg) {
            width: 45%;
        }

        .banner-content {
            //height: 100%;
            padding: 24px;

            @media (min-width: $md) {
                padding: 48px;
            }

            @media (min-width: $lg) {
                padding: 56px 40px 56px 64px;
            }
        }

        .h-line {
            margin-left: auto;
            float: right;
            right: 0;
            margin-top: 16px;
            position: absolute;
            width: 26%;
            //right: 53px;
        }
    }
}

// Sections
.section-title {
    font-size: 2rem;

    @media (min-width: $md) {
        font-size: 3.3rem;
        line-height: 1.2;
    }
}

.section-subtitle {
    //font-family: 'Source Serif Pro', serif;
    font-size: 0.95rem;

    @media (min-width: $md) {
        font-size: 1.15rem;
        line-height: 1.6;
    }


}

.hero-common {
    background-color: $color-dark-bg;
    position: relative;
    min-height: 100vh;
    height: fit-content;
    z-index: 5;

    .custom-btn {
        padding: 14px 22px 14px 22px;
        font-size: 1.05em;

        @media (min-width: $md) {
            padding: 18px 26px 18px 26px;
            font-size: 1.2em;
        }
    }

    .row {
        height: 100%;
    }

    .hero-left {
        padding-top: 90px;

        @media (min-width: $md) {
            min-height: 100vh;
        }
    }

    .hero-right {
        position: relative;

        @media (min-width: $md) {
            position: absolute;
        }

        .media-wrapper {
            width: 100%;
            height: 520px;

            img, video {
                object-fit: cover;
            }
        }

        .media-wrapper-full {
            width: 100%;
            height: 100%;

            img, video {
                object-fit: cover;
                height: unset;
                width: 200%;

                @media (min-width: $md) {
                    width: unset;
                    height: 100%;

                }
            }
        }
    }

    .hero-content {
        text-align: center;

        @media (min-width: $md) {
            text-align: left;

        }

        h6.breadcrumbs {
            color: $color-d3;
        }

        .hero-title {
            text-transform: capitalize;
            font-size: 2.5rem;

            @media (min-width: $md) {
                font-size: 4rem;
            }

            span {
                display: inline-block;
                color: $color-cta;
                line-height: 1;
                border-bottom: 3px solid $color-cta;
            }
        }

        .hero-text {
            color: $color-d6;
            font-size: 1.1rem;
            line-height: 1.7;

            @media (min-width: $md) {
                font-size: 1.12rem;
            }
        }

        .hero-subtitle {
            font-size: 1.05rem;
            line-height: 1.6;

            @media (min-width: $md) {
                font-size: 1.2rem;
            }
        }

        .hero-button {
            z-index: 10;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: 600;
            height: 68px;
        }
    }
}

//.hero-common-2 {
//    background-color: $color-dark-bg;
//    padding-top: 80px;
//    min-height: unset !important;
//    margin: auto;
//    height: fit-content !important;
//
//    .breadcrumbs {
//        color: $color-d3;
//    }
//
//    .row {
//        height: 100%;
//    }
//
//    .hero-content {
//        h6.breadcrumbs {
//            color: $color-d3;
//            font-weight: 600;
//            font-size: 1.15em;
//        }
//
//        .hero-title {
//            text-transform: capitalize;
//            font-size: 4rem;
//
//            span {
//                display: inline-block;
//                color: $color-cta;
//                line-height: 1;
//                border-bottom: 3px solid $color-cta;
//            }
//        }
//
//        .arrow-wrapper {
//            margin-top: -40px !important;
//        }
//
//        .hero-text {
//            color: $color-d6;
//            font-size: 1.12rem;
//            line-height: 1.7;
//        }
//
//        .hero-button {
//            z-index: 10;
//            cursor: pointer;
//            font-size: 1.2rem;
//            font-weight: 600;
//            height: 68px;
//        }
//    }
//
//    .h-line {
//        width: 220px;
//    }
//
//    .v-line {
//        margin-left: -28px;
//        height: 220px;
//    }
//}

.hero-section {
    min-height: 80vh !important;
    height: fit-content;
    padding-top: 45px;

    @media (min-width: $md) {
        padding-top: 90px;
    }

    .hero-content {
        .arrow-wrapper {
            margin-top: -40px;
        }
    }

    .hero-left {
        padding-top: 0;

        @media (min-width: $md) {
            min-height: fit-content;
        }
    }

    .hero-right {
        position: unset !important;
        height: fit-content;

        .media-wrapper {
            width: 100%;
            height: 260px;

            @media (min-width: $md) {
                height: 520px;
            }
        }
    }

    .h-line {
        width: 220px;
        margin: 16px 0;

        @media (min-width: $md) {
            margin: 24px 0;
        }
    }

    .v-line {
        margin-left: -16px;
        height: 220px;

        @media (min-width: $md) {
            margin-left: -24px;
        }
    }
}

.v-line-wrapper {
    height: 740px;
    display: flex;
    justify-content: flex-end;

    .v-line {
        margin-top: auto;
        height: 200px;
    }
}

.v-line-left {
    margin-left: -24px;
}

.v-line-right {
    margin-left: 48px;
}

.service-card {
    transition: all 0.3s ease;
    width: 100%;
    padding: 0;
    border-radius: 0;
    border: none;
    box-shadow: 0 18px 36px $color-d6;

    @media (min-width: $md) {
        height: 800px;
    }

    .window {
        height: 260px;
    }

    .card-img-top {
        object-fit: cover;
        border-radius: 0;


        img {
            border-radius: 0;
        }
    }

    .title {
        font-size: 2rem;

        @media (min-width: $md) {
            font-size: 2.5rem;
        }
    }

    .text {
        font-weight: 400;
        color: $color-d3;
    }

    ol {
        li {
            font-weight: 500;
            color: $color-d3;

            &:not(:last-child) {
                margin-bottom: 0.7rem;
            }

            &::marker {
                font-weight: 600;
                color: $color-d1;
            }
        }
    }

    &:hover {
        background-color: $color-dark-bg;

        .title {
            color: $color-cta;
        }

        .text {
            color: $color-p2-shade;
        }

        ol {
            li {
                color: $color-d5;

                &::marker {
                    color: $color-cta;
                }
            }
        }
    }
}

// Footer
footer {
    background-color: $color-dark-bg;

    h3 {
        color: white;
        font-size: 2rem;
        font-weight: 700;
    }

    h5 {
        line-height: 1.5;

        span {
            display: inline-block;
            color: $color-cta;
        }
    }

    .footer-section {
        text-align: center;
    }

    .brand-logo {
    }

    .brand-tagline {
        color: white;
        font-size: 1.1rem;
    }

    .social-media-icons .icon-container {
        justify-content: space-between;
    }

    .section-2-text {
        width: 100%;
        font-size: 1rem;
        color: $color-d4;
    }

    .section-border {
        border-bottom: 0.6px solid $color-red-shade;
    }

    .contact-details-wrapper {
        color: $color-d4;
    }

    .contact-icon-wrapper {
        svg {
            fill: $color-cta;
        }
    }

    .copyright-bar {
        background-color: $color-d2;
        text-align: center;
    }

    .strict-align-left {
        @media (min-width: $md) {
            margin-left: -32px;
        }
    }
}

@media (min-width: $md) {

    footer {
        .footer-section {
            text-align: left !important;
            padding: 0 3em !important;
        }

        .section-border {
            border: unset;
            border-right: 0.6px solid $color-red-shade;
        }

        .section-2-text {
            width: 75%;
        }

        .copyright-bar {
            text-align: left;
        }
    }
}

@media (min-width: $lg) {
    footer {
        .footer-section {
            padding: 0 5em !important;
        }
    }
}

.photo-row {
    .window {
        width: 100%;
        background-color: white;
        padding: 5px;

        @media (min-width: $md) {
            padding: 10px;
        }
    }

    .window img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #photo-1, #photo-4 {
        height: 143px;

        @media (min-width: $md) {
            height: 500px;
        }
    }

    #photo-2, #photo-3 {
        height: 77px;

        @media (min-width: $md) {
            height: 267px;
        }
    }

    #photo-5 {
        height: 165px;

        @media (min-width: $md) {
            height: 575px;
        }
    }

    #photo-6 {
        height: 55px;

        @media (min-width: $md) {
            height: 192px;
        }
    }
}
