.hero-section-3 {
    height: fit-content;

    .hero-content {
        .arrow-wrapper {
            margin-top: -40px !important;
        }
    }

    .hero-right {
        height: fit-content;

        .image-wrapper {
            width: 100%;
            height: 520px;
        }
    }
}

.our-partners-section {
    background-color: $color-light-bg;

    .section-text {
        font-weight: 400;
        color: $color-d3;
    }

    .partner-logo-bar {
        .partner-logo {
            width: 100%;
        }
    }
}
