.hero-section-3 {
    min-height: 80vh;
    height: fit-content;
    padding-top: 45px;

    @media (min-width: $md) {
        padding-top: 90px;
    }

    .hero-content {
        .arrow-wrapper {
            margin-top: -40px;
        }
    }

    .hero-left {
        padding-top: 0;

        @media (min-width: $md) {
            min-height: fit-content;
        }
    }

    .hero-right {
        position: unset !important;
        height: fit-content;

        .media-wrapper {
            width: 100%;
            height: 260px;

            @media (min-width: $md) {
                height: 520px;
            }
        }
    }

    .h-line {
        width: 220px;
        margin: 16px 0;

        @media (min-width: $md) {
            margin: 24px 0;
        }
    }

    .v-line {
        margin-left: -16px;
        height: 220px;

        @media (min-width: $md) {
            margin-left: -24px;
        }
    }
}

.our-partners-section {
    background-color: $color-light-bg;

    .section-text {
        font-weight: 400;
        color: $color-d3;
    }

    .partner-logo-bar {
        .partner-logo {
            width: 100%;
        }
    }
}
